body,
html {
    font-family: fantasy;
    height: 100%
}

#banner{
    background-image: url("Kane.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 25%;
}


@media (max-width:768px) {
    .sub_captain {
        margin-top: 30px !important;
    }
}


#captain-archive {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}



.heading {
    color: black;
    text-align: center;
}

.description {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
    padding-top: 12%;
    text-align: center;
}

.sub_captain {
    text-align: center;
    margin-top: 250px;
}

#awards{
    margin-top: 25px !important;
}
.space{
    height: 200px;
}
@media (max-width:768px) {
    .space{
        height: 10px;
    }
}

#along_the_years{
    text-align: center;
    margin: 25px;
}